*{
    margin: 0px;
    padding: 0px;
}

.principal {
    text-align: right;
    background-color: rgb(9, 71, 13);
    color: white;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.principal li{
    margin: 10px;
}

.box{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15%;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

