* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.img-fondo {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; 
    background-image: url("../img/OIG.jpeg");
    background-size: auto 100%;
    background-repeat: repeat-x;
}

.fondo{
    width: 100%;
}

.recorrido {
    width: 100%;
}
.rango {
    position: fixed;
    width: 400px;
    bottom: 0px;
    left: 100px;
    transform: scaleX(1);
    transition: bottom 0.5s; /* Agrega esta línea */
}

.rango-movimiento{
    position: absolute;
    width: 400px;
    bottom: 0px;
    left:1200px;
}

.rango-alreves{
    transform: scaleX(-1);
    width: 400px;
    bottom: 0px;
    left: 100px;
}

.heno {
    position: fixed;
    width: 100px;
    bottom: 20px;
    left: 100%; 
    transform: rotate(0deg);
    display: none;
}


