* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.img-fondo {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; 
}

.img-fondo::before {
    content: "";
    background-image: url("../img/vaquero.jpg");
    background-size: auto 100%; 
    width: 200%; 
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    animation: desplazarFondo 15s linear infinite; 
}

@keyframes desplazarFondo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


.fondo{
    width: 100%;
}

.recorrido {
    width: 100%;
}
.rango {
    position: fixed;
    width: 400px;
    bottom: 0px;
    left: 100px;
    transition: 2s;
    transform: scaleX(1);
}

.rango:hover,.rango-movimiento:hover{
    cursor: pointer;
}

.rango-movimiento{
    position: absolute;
    width: 400px;
    bottom: 0px;
    left:1200px;
}

.rango-alreves{
    transform: scaleX(-1);
    width: 400px;
    bottom: 0px;
    left: 100px;
}



